@media screen and (min-width:1800px) {
    nav ul li {
        font-size: 35px;
    }
   
    .container_projects .box_title h2 {
        font-size: 79px;
    }

    .titulo {
        margin-top: 356px;
        margin-left: 234px;
    }
    .titulo h2 {
        font-size: 696%;
        line-height: 133px;
    }
    .titulo h3 {
        font-size: 32px;
    }

}

@media screen and (max-width:920px){
    .titulo {
        margin-top: 372px;
        margin-left: 68px;
    }
    .titulo h2 {
        font-size: 663%;
        line-height: 100px;
    }
    .titulo h3 {
        font-size: 24px;
    }

    .habilits {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .habilit_text {
        width: 80%;
        padding: 59px 0px 37px 0px !important; 
    }

    .progress {
        width: 100%;
        padding: 30px 0px 28px 0px;
    }

    .container_slide {
        height: 75px;
        padding: 0px 120px 0px 120px;
      
    }

}

@media screen and (max-width:800px) {
    #menu_desktop{
        display: none;
    }
    .menu_mobile{
        display: inline !important;
    }

    .img_menu_2{
     display: inline;
    }

    .img_person{
        width: 55%;
        height: 100%;
    }

    header .img {
        background-position: 35%;
    }

    header{
        height: 74vh;
    }
    .titulo {
        margin-top: 229px;
        margin-left: 37px;
    }
    .titulo h2 {
        font-size: 404%;
        line-height: 56px;
    }
    .titulo h3 {
        font-size: 19px;
    }

    .container_slide {
        height: 75px;
        padding: 0px 70px 0px 70px;
      
    }

    .aboutMe p{
        padding: 0px 50px 0px 50px;
        font-size: 15px;
    }

}

@media screen and (max-width:600px){

    .projects {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .box_projects {
        width: 100vw;
        height: 545px;
    }

    .container_projects {
        width: 100vw;
    }

    .menu_mobile {
        width: 50vw;
    } 

    .container_slide {
        height: 75px;
        padding: 0px 40px 0px 40px;
      
    }

    .experiences {
        display: flex;
        flex-direction: column;
    }

    .works {
        width: 100%;
        padding: 10px;
    }

    .academic {
        width: 100%;
        padding: 10px;
    }

    .aboutMe p{
        padding: 0px 8px 0px 8px;
        font-size: 14px;
    }

    .habilit_text {
        float: none !important;
        text-align: center;
    }

}

@media screen and (max-width:450px){
    .titulo {
        margin-top: 260px;
    }

    .menu_mobile {
        width: 47vw;
    } 

    .container_projects {
        padding-bottom: 65px;
    }

    .container_projects .box_title {
        padding: 64px 0px 0px 0px !important;
    }



}

@media screen and (max-width:376px){
    .img_menu_2 {
        font-size: 38px;
    }
    .titulo {
        margin-top: 180px;
        margin-left: 30px;
    }
    .titulo h2 {
        font-size: 404%;
        line-height: 56px;
    }
    .titulo h3 {
        font-size: 17px;
    }

    .progress_1 p {
        font-size: 12px;
    }


 
}

@media screen and (max-width:281px){
    .titulo {
        margin-top: 180px;
        margin-left: 30px;
    }
    .titulo h2 {
        font-size: 294%;
        line-height: 44px;
    }
    .titulo h3 {
        font-size: 15px;
    }

    .container_projects .box_title p {
        font-size: 15px;
    }

    .menu_mobile {
        width: 64vw;
    }

    .container_projects .box_title h2 {
        font-size: 48px;
    }

    .habilit_text h2{
        font-size: 48px;
    }

    .habilit_text p{
        font-size: 15px;
    }

    .progress_1 p {
        font-size: 9px;
    }

    .aboutMe h2{
        font-size: 32px;
    }

    .aboutMe p{
        padding: 0px 2px 0px 2px;
        font-size: 12px;
    }
}