@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

body{
    background-color: black;
}

nav{
    position: absolute;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    background-color: transparent;
    z-index: 99;
}

nav ul{
    display: flex;
    background-color: transparent;
}


nav ul li{
    padding: 10px;
    text-decoration: none;
    font-style: normal;
    font-size: 20px;
    background-color: transparent;
    overflow: hidden;
}

nav ul li a{
    color: #A4A4A4;
    background-color: transparent;
    transition: 0.2s;
}

nav ul li a:hover{
    color: #6f0eca;
    font-weight: 600;
}

header{
    height: 85vh;
    width: 100vw;
    position: relative;
    z-index: 1;
    
}

/*NAV MOBILE*/
.menu_mobile{
    display: none !important;
    position: fixed;
    background-color: white;
    height: 100vh;
    left: -100%;
    width: 33vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding-left: 11px;
    transition: cubic-bezier(0.19, 1, 0.22, 1);
}

.menu_mobile_toggle{
    left: 1px;
}

#menu_desktop{
    margin-top: 20px;
}

.img_menu{
    font-size: 35px;
    text-align: right;
    cursor: pointer;
    color: rgba(103, 12, 174, 0.91);
    padding: 16px 25px 0px 0px;
    height: 60px;
    overflow: hidden;
    z-index: 99;
}

.img_menu_2{
    display: none;
    font-size: 52px;
    text-align: left;
    cursor: pointer;
    padding: 10px;
    margin-top: 6px;
    position: absolute;
    margin-left: 3%;
    color: rgba(103, 12, 174, 0.91);
    z-index: 99;
}


.opcoes{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 82vh;
    justify-content: space-around;
}
/*---------------------*/

.img_person{
    width: 50%;
    height: 100%;
    position: relative;
    z-index: 1;
    float: right;
}

header .img{
    background-image: url(./Imagens/SAVE_20200922_014906-01.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
    z-index: 1;
}

.titulo{
    width: 50%;
    color: wheat;
    position: absolute;
    text-align: left;
    background-color: transparent;
    z-index: 2;
    margin-top: 260px;
    margin-left: 114px;

}

.titulo h2{
    color: #FFFFFF;
    font-family: 'Courgette', cursive;
    font-weight: 400;
    font-size: 499%;
    line-height: 77px;
    background-color: transparent;
    overflow: hidden;
    transition: 0.5s;
}

.titulo h3{
    color: #c6c6c6;
    font-family: 'Montserrat';
    font-weight: lighter;
    font-style: italic;
    background-color: transparent;
    transition: 0.5s;
}

.projects{
    background-color: rgba(18, 18, 18, 1);
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}


.container_projects .box_title{
    color: white;
    width: 74%;
    padding: 111px 0px 78px 0px;
    display: flex;
    background-color: transparent;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container_projects .box_title h2{
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    font-size: 64px;
    line-height: 94px;
    text-align: center;
    background-color: transparent;
    color: #FFFFFF;
}

.container_projects .box_title p{
    color: #dddddd;
    background-color: transparent;
    font-size: 17px;
}

.box_projects{
    width: 50%;
    background-color: transparent;
    position: relative;
    text-align: center;
}

.box_projects .project1{
    width: 70%;
    height: 72%;
    display: inline-block;
    border-radius: 40px;
    cursor: pointer;
    filter: drop-shadow(3px 4px 39px rgba(255, 255, 255, 0.25));
    margin: 30px 15px 15px 15px;
}

.box_projects .project1 h2{
    font-size: 30px;
    color: white;
    position: relative;
    text-align: center;
    margin-top: 150px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
}

.box_projects .project1 h3{
    font-size: 20px;
    color: white;
    position: relative;
    text-align: center;
    margin-top: 1px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
}


.filter_project{
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(180deg, rgba(103, 12, 174, 0.91) 0%, rgba(36, 62, 203, 0.89) 100%);
    transition: 0.8s;

}

.filter_project:hover{
    filter: opacity(0);
}



.box_projects .project1 .img_project1{
    background-image: url(./Imagens/Screenshot_3.png);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;

}

.box_projects .project2{
    width: 70%;
    height: 72%;
    border-radius: 40px;
    cursor: pointer;
    filter: drop-shadow(3px 4px 39px rgba(255, 255, 255, 0.25));
    margin: 30px 15px 15px 15px;
    display: inline-block;
}

.project3{
    width: 70%;
    height: 72%;
    border-radius: 40px;
    cursor: pointer;
    filter: drop-shadow(3px 4px 39px rgba(255, 255, 255, 0.25));
    margin: 30px 15px 15px 15px;
    display: inline-block;
}

.project4{
    width: 70%;
    height: 72%;
    border-radius: 40px;
    cursor: pointer;
    filter: drop-shadow(3px 4px 39px rgba(255, 255, 255, 0.25));
    margin: 30px 15px 15px 15px;
    display: inline-block;
}

.container_projects{
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding-bottom: 87px;
    padding-top: 3px;
}

.img_projects{
    width: 227px;
    height: 150px;
    background-color: transparent;
    display: flex;
    align-content: center;
    margin-top: 30px;
    align-items: center;
    justify-content: space-between;
}

.img_projects a{
    width: 50%;
    height: 100%;
}

.img_git{
    background-image: url(./Imagens/25231.png);
    background-size: 83px;
    width: 100%;
    background-position: center;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
    filter: drop-shadow(2px 4px 6px black);
    background-repeat: no-repeat;
    margin-right: 5px;
}

.img_hackerhank{
    background-image: url(./Imagens/HackerRank_logo.png);
    background-size: 121px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-position: center;
    cursor: pointer;
    filter: drop-shadow(2px 4px 6px black);
    background-repeat: no-repeat;
}

.img_git:hover{
    filter: brightness(0.5);

}

.img_hackerhank:hover{
    filter: brightness(0.5);
}

.box_projects::-webkit-scrollbar{
    width: 20px;
    height: 10px;
    
}

.box_projects::-webkit-scrollbar-thumb{
    background-color: #ffffff;
    width: 8px;
    border-radius: 90px;


}

.box_projects::-webkit-scrollbar-thumb:hover{
    background-color: #999999;
}

.box_projects::-webkit-scrollbar-button{

    height: 210px;
}


.box_projects::-webkit-scrollbar-track{
    background-color: rgb(0 0 0);
    border-radius: 30px;
}

/*scrollbar da página */

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-thumb{
    background-color: #fafafa;
    border-radius: 90px;


}

::-webkit-scrollbar-thumb:hover{
    background-color: #999999;
}



::-webkit-scrollbar-track{
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
}

.habilits{
    background-color: #dddddd;
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 0px 65px 0px;
}

.progress{
    display: flex;
    width: 50%;
    padding: 98px 0px 28px 0px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.habilit_text{
    width: 40%;
    padding: 0px 0px 0px 96px;
    float: right;
    text-align: center;
}

.habilit_text h2{
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    font-size: 64px;
    line-height: 90px;
    text-align: center;
    background-color: transparent;
    color: #000000;
    display: inline-block;
}

.habilit_text p{
    line-height: 20px;
    margin-bottom: 20px;
    text-align: initial;
}

.container_slide{
    width: 100%;
    height: 75px;
    display: flex;
    padding: 0px 106px 1px 83px;
    flex-direction: column;
}

.progress_1{
    width: 100%;
    height: 35px;
    background: rgb(36,62,203);
    background: black;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
    padding: 15px;
    position: relative;
}

.progress_2{
    position: absolute;
    width: 20%;
    background: linear-gradient(267deg, rgba(36,62,203,1) 0%, rgba(103,12,174,1) 91%);
    height: 35px;
    border-radius: 30px;
    left: 0;
    display: flex;
    padding-left: 15px;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.html{
    width: 42%!important;
}
.css3{
    width: 27%!important;
}
.js{
    width: 30%!important;
}
.sql{
    width: 13%!important;
}
.java{
    width: 25%!important;
}
.python{
    width: 18%!important;
}
.flutter{
    width: 0%!important;
}
.reactjs{
    width: 0%!important;
}

.progress_1 p{
    font-family: 'Montserrat';
    font-style: italic;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    margin-right: 15px;
}

.title_progress{
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-left: 5px;
    color: #000000;

}

/*EXPERIENCES*/
.experiences{
    background-color: #B3B3B3;
    width: 100vw;
    height: 100%;
    display: flex;
    padding: 65px 34PX;
}

.works{
    width: 50%;
    padding: 50px;
}

.experiences h2{
    margin-bottom: 18px
}

.academic{
    width: 50%;
    padding: 50px;
}

.academic p{
    padding-bottom: 10px
}


/*ABOUT ME*/

.aboutMe{
    height: 100%;
    width: 100vw;
    background-color: rgba(18, 18, 18, 1);
    color: rgba(255, 255, 255, 1);
    text-align: center;
    padding: 90px 50PX;
}

.aboutMe h2{
    font-size: 40px;
    padding-bottom: 10px;
}

.aboutMe p{
    padding: 0px 76px 0px 76px;
    font-size: 17px;
}

footer{
    background:  linear-gradient(270.18deg, #670CAE 24.48%, #243ECB 91.11%);
    width: 100vw;
    color: white;
    display: flex;
    padding: 25px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}

footer p{
    font-size: 17px
}

/*Transição scroll*/ 
[data-anime]{
    opacity: 0;
    transition: .6s;
}

[data-anime="left"]{
    transform: translate3d(-70px,0,0);
}

[data-anime="right"]{
    transform: translate3d(70px,0,0);
}

[data-anime].animated{
    opacity: 1;
    transform: translate3d(0px,0px,0px) !important;
}